:root {
    --accent-colour: hsl(var(--accent-colour-hue), var(--accent-colour-saturation), var(--accent-colour-lightness));
    --theme-colour-darkest: hsl(var(--accent-colour-hue), var(--accent-colour-saturation), calc(var(--accent-colour-lightness) * 0.585));
    --theme-colour-lighter: hsl(var(--accent-colour-hue), calc(var(--accent-colour-saturation) * 1.5), calc(var(--accent-colour-lightness) * 1.625));
}

.obfuscated {
    filter: blur(3px);
    /*-webkit-text-security: disc;*/
    transform: rotate(180deg) scaleX(-1);
}

button {
    cursor: pointer;
}

.actions>button,
.favourite>button {
    padding: 1px 2px;
}

.actions>i {
    cursor: pointer;
    opacity: 0.3;
}

.actions>i:hover {
    opacity: 1;
}

.spanRows2 {
    grid-row: span 2;
}

.spanCols2 {
    grid-column: span 2;
}

.spanCols3 {
    grid-column: span 3;
}

.spanCols4 {
    grid-column: span 4;
}

* {
    border: 0 solid var(--theme-colour-lighter);
    color: var(--text-colour);
}

button,
button *,
input,
select,
option,
textarea {
    color: initial;
    border: revert !important;
}

.danger,
.danger * {
    color: darkred !important;
}

.error {
    color: red;
}

bookmark.favourite,
bookmark.favourite .actions {
    background: #ff8;
}

bookmark.favourite * {
    color: black;
}

html {
    background: var(--theme-colour-darkest);
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    margin: 0;
}

body>.actions {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

#btnAddCollection {
    margin-right: -20px;
    flex-grow: unset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

title {
    font-size: 140%;
}

form {
    margin: 0;
}

dialog {
    background: var(--accent-colour);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    padding: 0;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
}

dialog>title {
    background: var(--theme-colour-darkest);
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    border-bottom-width: 1px;
}

dialog input {
    width: 100%;
}

dialog form {
    padding: 5px;
    margin: 10px 20px;
}

dialog form label {
    text-align: right;
    margin-right: 1em;
}

dialog#EditCollectionDialog form,
dialog#EditBookmarkDialog form {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 2fr 2fr;
}

dialog#OptionsDialog form {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

dialog button {
    margin: 0 5px;
}

dialog .actions-left-3 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    white-space: nowrap;
}

dialog .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin-left: auto;
}

dialog .centred {
    place-self: center;
}

dialog .faIconList list {
    display: block;
    overflow-y: scroll;
    height: 200px;
}

dialog .faIconList i {
    padding: 2.5px 1px;
    border: 1px solid transparent;
    user-select: none;
}

dialog .faIconList i.selected {
    border-color: var(--text-colour);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

dialog .iconPreview {
    width: 45px;
    max-height: 45px;
}

#trash {
    float: right;
    opacity: 0.1;
}

#trash.active {
    color: darkred;
    opacity: 1.0;
}

layout {
    display: grid;
    align-items: start;
    grid-gap: 20px;
    margin-top: 5px;
    margin-bottom: 3.5em;
}

collection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-width: 1px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 5px;
}

collection .icon {
    width: 22px;
    max-height: 22px;
    padding-right: 4px;
}

collection.collapsed {
    filter: brightness(0.6);
}

collection>title {
    background: var(--accent-colour);
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom-width: 1px;
    padding: 5px;
    font-weight: bold;
    margin: -5px;
    margin-bottom: 5px;
}

collection>title>.actions {
    position: absolute;
    right: 5px;
    visibility: hidden;
}

collection:not(.collapsed) title:hover .actions,
collection:not(.collapsed) .actions:hover {
    visibility: visible;
}

collection:has(.showHide) title:hover .icon {
    visibility: hidden;
}

collection .showHide {
    position: absolute;
    visibility: hidden;
}

collection title:hover .showHide {
    visibility: visible;
}

bookmark {
    background: var(--accent-colour);
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 999px;
    flex-grow: 5;
    min-width: 150px;
    font-size: 130%;
}

bookmark .icon {
    max-width: 16px;
    max-height: 16px;
}

layout.editable bookmark:not(.tab):hover .icon {
    visibility: hidden;
}

bookmark:hover {
    filter: brightness(1.2);
}

bookmark:active {
    filter: brightness(0.8);
}

bookmark a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

bookmark a .title {
    margin-left: 5px;
}

bookmark a .title.nowrap {
    white-space: nowrap;
    overflow-x: hidden;
}

bookmark .favourite {
    position: absolute;
    visibility: hidden;
}

bookmark .favourite button {
    padding: 1px 0;
}

collection bookmark:hover .favourite {
    visibility: visible;
}

bookmark.add {
    background: hsl(var(--accent-colour-hue), calc(var(--accent-colour-saturation) * 0.4), calc(var(--accent-colour-lightness) * 0.585), 0.5);
    flex-grow: 1;
    border-radius: 5px;
    text-align: center;
    min-width: initial;
}

bookmark.add i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

bookmark>a>.actions {
    background: var(--accent-colour);
    border-radius: 5px;
    position: absolute;
    right: 5px;
    visibility: hidden;
}

collection bookmark:hover>a>.actions {
    visibility: visible;
}

::backdrop {
    background: black;
    opacity: 0.66;
}

.pulse {
    animation: pulse 2s 5;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}