.obfuscated {
    filter: blur(3px);
    /*-webkit-text-security: disc;*/
    transform: rotate(180deg) scaleX(-1);
}

.actions i {
    margin: 9px 0;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
    text-shadow: 1px 1px 1px var(--text-shadow-colour),
        -1px 1px 1px var(--text-shadow-colour),
        1px -1px 1px var(--text-shadow-colour),
        -1px -1px 1px var(--text-shadow-colour);
}

.actions i:hover {
    opacity: 1;
}

body:not(.readonly) .actions i.fa-lock {
    display: none;
}

body.readonly .actions i.fa-unlock {
    display: none;
}

html {
    background: var(--theme-colour-darkest);
    user-select: none;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    margin: 0;
    overflow-x: hidden;
}

body>.actions {
    position: fixed;
    display: flex;
    align-items: center;
    pointer-events: none;
    bottom: 5px;
    width: calc(100% + 125px);
    z-index: 1;
}

body>.actions * {
    pointer-events: auto;
}

body>.actions>#imageDetail {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

body.showBackground>.actions>#imageDetail {
    opacity: 1;
}

body.readonly bs-folder-add {
    visibility: hidden;
}

#tagEdit {
    cursor: pointer;
}

#trash {
    float: right;
    opacity: 0.1;
}

body.dragging #trash {
    color: darkred;
    opacity: 1.0;
}

body.dragging.over-trash #trash {
    text-shadow: 0px 0px 30px red;
}

body.readonly #trash {
    visibility: hidden;
}

layout,
.layout {
    align-items: start;
    display: grid;
    grid-gap: 20px;
}

layout {
    grid-template-columns: repeat(auto-fill, minmax(var(--layout-columns), 1fr));
    margin-top: 5px;
    margin-bottom: 20px;
}

.layout {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3.5em;
}

.layout>*[style*="display: none"]~* {
    grid-column: span 2;
}

bs-folder,
bs-site-list,
bs-tab-list {
    transition: opacity 0.2s ease-in-out;
}

bs-folder.tag-nodrop,
layout.dragging bs-folder {
    opacity: 0.5;
}

layout.dragging bs-folder.tag-hover {
    opacity: 1;
}

body.showBackground bs-folder,
body.showBackground bs-site-list,
body.showBackground bs-tab-list {
    opacity: 0;
    pointer-events: none;
}