:host {
    --size: 120px;
    zoom: 0.66;
}

:host {
    flex-grow: unset;
    min-width: unset;
    width: var(--size);
    height: var(--size);
}

:host a {
    height: 100%;
    justify-content: center;
}

:host .title {
    align-self: end;
    margin: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host .actions {
    top: 5px;
}

:host bs-icon {
    align-content: center;
    display: block;
    font-size: calc(var(--size) - 40px);
    position: absolute;
    margin-top: -10px;
}

:host bs-icon:has(i.emoji) {
    margin-top: -30px;
}
:host bs-icon i.icon {
    display: inline;
    max-height: calc(var(--size) - 60px);
}
:host bs-icon i.icon.material {
    font-size: calc(var(--size) - 20px);
}
:host bs-icon img.icon {
    max-height: unset;
    height: calc(var(--size) - 40px);
    max-width: calc(var(--size) - 40px);
}

:host bs-icon#overlay {
    scale: 50%;
    margin-top: calc(var(--size) - 70px);
    margin-left: calc(var(--size) - 70px);
}
:host bs-icon#overlay:has(i.emoji) {
    margin-top: calc(var(--size) - 100px); /* Additional -30px */
}

:host .favourite {
    left: 8px;
    top: 8px;
}

:host(:not(.readonly):hover) .icon {
    visibility: visible;
}