html {
    background: #1f1f29;
    color: white;
}

.danger {
    color: darkred;
}

.error {
    color: red;
}

dialog {
    color: white;
    border-color: #7878a9;
    background: #353546;
}

dialog>title {
    border-bottom-color: #7878a9;
    background: #1f1f29;
}

collection>title {
    border-bottom-color: #7878a9;
    background: #353546;
}

bookmark {
    background: #353546;
}

bookmark>* {
    color: white;
}

bookmark.add {
    border-color: #666;
    background: #333;
}

bookmark.favourite {
    border-color: yellow;
    background: #ff8;
}

bookmark.favourite>* {
    color: black;
}